<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body class="container">

<h1 th:text="${title}">Default Title</h1>

<nav th:replace="fragments :: navigation"></nav>

<form method="post">

    <div th:each="location : ${locations}" class="checkbox">
        <input type="checkbox" name="locationIds" th:value="${location.id}" th:id="${location.id}"/>
        <label th:for="${location.id}" th:text="${location.name}"></label>
        <br />
    </div>

    <input type="submit" value="Remove Location" />
</form>

</body>
</html>